body{
	background: purple;
}
#ccHeading{
	background: white;
	color: purple;
	font-family: monospace;
	text-align: left;
}

#ccInstructions{
	background: gray;
	color: purple;
	font-size: 20px;
	font-family: monospace;
	text-align: left;
}
	
#randomNumberBox{

}

#scoreBox{

}
	
#totalScoreNotificationBox{

}

#totalScoreBox{

}

#buttons{

}

#crystalOne{

}

#crystalTwo{

}

#crystalThree{

}

#crystalFour{

}
